.loginPage {
    width: 100vw; 
    height: calc(100vh - 80px); 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
}

.loginPage p {
    font-size: 30px; 
}


/* Google Button */ 
.login-with-google-btn {
    cursor: pointer; 
    transition: background-color 0.3s, box-shadow 0.3s; 
    padding: 5px 16px 12px 42px; 
    border: none; 
    border-radius: 3px; 
    box-shadow: 0 -1px 0 rgba(0,0,0,0.04), 0 1px 1px rgba(0,0,0,0.25); 
    color: #757575; 
    font-size: 25px; 
    font-weight: 500; 
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMT"); 
    
}